.resume {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.resume.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.education__section {
  display: grid;
  grid-template-areas: 
    "school from to"
    "city"
    "degree"
  ;
}

.education__school {
  grid-area: school;
}

