html {
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  margin: 1.5rem 0 1.5rem 0;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-weight: bold;
  font-size: 1.6rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.3rem;
}

.main {
  width: 100%;
}

.resume-section {
  margin-bottom: 2.5rem;
  position: relative;
}

form {
  margin-top: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid rgb(201, 201, 201); */
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field input {
  height: 2.2rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 0.5rem;
}

.field input:disabled {
  border: 1px solid rgb(57, 151, 57);
  border-radius: 5px;
  background-color: rgba(203, 255, 187, 0.404);
  box-sizing: border-box;
}

.field input:focus {
  outline: none;
  border: 2px solid rgb(132, 200, 223);
}

.field input:focus::placeholder {
  color: rgb(59, 59, 59);
}

.field label {
  margin-bottom: 0.4rem;
}

button {
  width: 5rem;
  height: 1.8rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(230, 230, 230);
  color: black;
  margin-right: 0.5rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(201, 201, 201);
}

.add {
  position: absolute;
  right: 0;
  margin: 0;
}

.delete {
  position: absolute;
  right: 5.5rem;
  margin: 0;
}

.hidden {
  display: none;
}

textarea {
  height: 5rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5rem 0 0 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

textarea:disabled {
  border: 1px solid rgb(57, 151, 57);
  border-radius: 5px;
  background-color: rgba(203, 255, 187, 0.404);
  box-sizing: border-box;
}

textarea:focus {
  outline: none;
  border: 2px solid rgb(132, 200, 223);
}

textarea:focus::placeholder {
  color: rgb(59, 59, 59);
}

/* ### RESUME STYLING ### */

.resume {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-sizing: border-box;
}

.resume h2 {
  border-bottom: 1px solid black;
  margin: 2.5rem 0 1rem 0;
}

.resume .personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.resume .header {
  margin: 0;
}

.personal__info div {
  padding: 0.2rem 0;
  place-self: end;
  margin: 0;
  text-align: right;
}

.personal__name {
  padding-bottom: 0.5rem;
}

.personal__title {
  border: none !important;
  margin: 0 !important;
  font-weight: normal;
}

.resume .summary {
  margin-top: 0.5rem;
  grid-column: 1 / 3;
}

.resume .summary__title {
  border-bottom: 1px solid black;
  margin-top: 0;
}

.professional__section, .education__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5rem 1.1rem 1fr;
}

.professional__company, .education__school {
  grid-row: 2 / 3;
}

.professional__city, .education__city {
  grid-row: 2 / 3;
  place-self: start right;
}

.professional__job, .education__degree {
  grid-row: 1 / 2;
  font-weight: bold;
  padding: 0.1rem 0;
}

.professional__time, .education__time {
  grid-row: 1 / 2;
  place-self: start right;
  font-weight: bold;
  padding: 0.1rem 0;
}

.professional__desc, .education__desc {
  grid-column: 1 / 3;
  margin-top: 1rem;
}