.field {
  display: flex;
  flex-direction: column;
  height: 4rem;
  margin-bottom: 1rem;
}

.field input {
  height: 2rem;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
}

.field input:focus {
  border: 2px solid rgb(132, 200, 223);
}

.field input:focus::placeholder {
  color: rgb(59, 59, 59);
}

.field label {
  margin-bottom: 0.4rem;
}